{% extends "::base.html.twig" %}

{% block title %}AcaShopBundle:Contact:contact{% endblock %}

{% block body %}
    <h1>Reach out to us any time. <br/> We love hearing from you!</h1>
    <br/>
    <h3>Email: <a href="mailto:hello@acashop.com?Subject=Hello">Hello@acashop.com</a></h3>
    <h3>Phone: (999) 123-4567</h3>

{% endblock %}
