{% extends "::base.html.twig" %}

{% block title %}AcaShopBundle:About:about{% endblock %}

{% block body %}
    <h1>Hello friend</h1>
    <br/>
    <p>My name is Daisy and I've built this website just for you! </p>
    <div class="daisy">
        <img src="{{ asset('img/daisy.png') }}" alt="Daisy"/>
    </div>
{% endblock %}
